<h1>Домашняя страница</h1>
<div class="span12">
	<ul>
		<li><%= link_to "Заявки на перезакрепление", req_reassigns_path %></li>
		<li><%= link_to "Заявки на закупку", req_purchases_path %></li>
	</ul>
</div>
