<div class="row">
  <div class="col-md-12">
    <div class="form-group fl1">
      <%= link_to t(:home_link), req_reassigns_path, class: "btn btn-default", id: "btn-home" %>
    </div>
    <% if @req.is_assigned?(current_user) %>
      <div class="form-group fl1">
        <%= link_to 'Редактировать', edit_req_reassign_path(@req), class: "btn btn-success" %>
      </div> 
    <% end %>
  </div>
</div>