<h1>ReqReassigns#edit</h1>
<div class="form-group">
  <%= link_to t(:home_link), root_path, class: "btn btn-default", id: "btn-home" %>
</div>
<div class="row">
	<div class="col-md-6 col-sm-6">
		<%= render 'form' %>
	</div>
</div>
<div class="form-group">
  <%= link_to t(:home_link), root_path, class: "btn btn-default", id: "btn-home" %>
</div>
