<p>Уважаемый <%=@assignment.user.name %>, для вас было создано новое задание: <%=@assignment.description %></p>
<p>Чтобы посмотреть подробную информацию перейдите по ссылке - <%= link_to "перейти к заданию", @assignment.assignable %></p>