<div class="row">
  <div class="col-md-12">
  	<div class="form-group fl1">
        <%= link_to "Список заявок на закупку", req_purchases_path, class: "btn btn-default" %>
  	</div>
  	<div class="form-group fl1">
	    <%= link_to 'Просмотр', req_purchase_path(@req), class: "btn btn-default" %>
	  </div>
  </div>
</div>